.cards {
  max-width: 880px;
  padding: 51px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 17px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 882px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    padding: 36px 19px 0 19px;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    padding-top: 36px;
    grid-template-columns: 1fr;
  }
}
