.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 750px) {
  .profile__name {
      font-size: 27px;
      line-height: 1.21;
      padding-top: 26px;
      padding-bottom: 14px;
      margin-left: 46px;
      max-width: 189px;
      text-align: center;
  }
}
