.profile__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .profile__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

