.popup__save-button {
  margin: 0px 36px 37px;
  padding: 14px 125px 18px;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.4s linear;
  border: 0;
  border-radius: 2px;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media all and (max-width: 528px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin: 0 22px 25px;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 82px 14px 82px;
  }
}
